<div class="center">
  <h1>Registrar</h1><br><br>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Correo electronico</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El correo electronico no es valido!">
        <input nz-input formControlName="email" id="email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Contraseña</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="por favor ingresa la contraseña!">
        <input nz-input type="password" id="password" formControlName="password"
          (ngModelChange)="updateConfirmValidator()" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirmar contraseña</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
        <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">por favor confirma la contraseña!</ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            las dos contraseas son inconsistentes!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary">Registrar </button>
        <br>
        <br>
        <button (click)="back()" nz-button nzType="primary">regresar iniciar sesion</button>
      </nz-form-control>
      
    </nz-form-item>
  </form>
</div>